<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Produtos</title>
</head>
<body>
    <form th:action="@{/produto/atualizarProduto}" th:method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" th:value="${produto.nome}">
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" th:value="${produto.descricao}"  >
        <label for="preco">Preço:</label>
        <input type="number" id="preco" name="preco" step="0.01" th:value="${produto.preco}"  >
        <input type="hidden" name="id" th:value="${produto.id}">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>