<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalhes do Produto</title>
    </head>
    <body>
        <h1>Detalhes do Produto</h1>
        <p>Nome: [[${produto.nome}]]</p>
        <p>Imagem:</p>
        <img th:if="${produto.imagem != null}" 
        th:src="@{/produto/imagem/{id}(id=${produto.id})}" 
        width="80" height="80" style="object-fit: cover; border-radius: 4px;" />
        <span th:if="${produto.imagem == null}">Sem foto</span>
        <p>Descrição: [[${produto.descricao}]]</p>
        <p>Preço: R$ [[${produto.preco}]],00</p>
        <p>Categoria: [[${produto.categoria?.nome}]]</p>

        <h3 th:if="${produto.caracteristicas != null && !produto.caracteristicas.isEmpty()}">Especificações</h3>
        <ul th:if="${produto.caracteristicas != null}">
            <li th:each="carac : ${produto.caracteristicas}">
                <strong th:text="${carac.nome} + ': '"></strong>
                <span th:text="${carac.valor}"></span>
            </li>
        </ul>
        
        <form th:action="@{/carrinho/adicionar}" method="post">
            <input type="hidden" name="produtoId" th:value="${produto.id}">
            <button type="submit">Adicionar ao carrinho</button>
        </form>
        <br>
        <a th:href="@{/dashboard}">Voltar</a>
    </body>
</html>
