<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
</head>
<body>
    <form th:action="@{/produto/atualizar}" th:method="post" enctype="multipart/form-data">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" th:value="${produto.nome}">
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" th:value="${produto.descricao}"  >
        <label for="preco">Preço:</label>
        <input type="number" id="preco" name="preco" step="0.01" th:value="${produto.preco}"  >
        <label for="categoria">Categoria:</label>
        <select id="categoria" name="categoriaId">
            <option th:each="categoria : ${listaCategorias}" th:value="${categoria.id}" th:text="${categoria.nome}" th:selected="${categoria.id} == ${produto.categoria?.id}"></option>
        </select>

        <label>Imagem do Produto:</label><br>
        <input type="file" name="img" accept="image/*">

        <h3>Características do Produto</h3>
            
        <div>
            <input type="text" th:name="caracteristicas[0].nome" th:value="${produto.caracteristicas[0].nome}">
            <input type="text" th:name="caracteristicas[0].valor" th:value="${produto.caracteristicas[0].valor}">
        </div><br>

        <div>
            <input type="text" th:name="caracteristicas[1].nome" th:value="${produto.caracteristicas[1].nome}">
            <input type="text" th:name="caracteristicas[1].valor" th:value="${produto.caracteristicas[1].valor}">
        </div><br>

        <div>
            <input type="text" th:name="caracteristicas[2].nome" th:value="${produto.caracteristicas[2].nome}">
            <input type="text" th:name="caracteristicas[2].valor" th:value="${produto.caracteristicas[2].valor}">
        </div><br>

        <input type="hidden" name="id" th:value="${produto.id}">
        <button type="submit">Enviar</button>
    </form>
    <a th:href="@{/produto/lista}">Voltar</a>
</body>
</html>